<ion-header>
  <ion-toolbar color="cea">
    <ion-buttons class="ion-no-text" slot="start">
      <ion-back-button text=""  defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title > Mi perfil </ion-title>
    <ion-button color="cea" class="ion-no-text" slot="end" (click)="editProfile(dataUser)">
      <ion-icon  name="create-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <div class="container">
      <div class="outer" [ngStyle]="{'background-image': 'url(' + dataUser.foto + ')'}">
      </div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label> Nombre Completo:
      <h3>{{dataUser.name}}</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Correo electronico:
      <h3>{{dataUser.email}}</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Cargo:
      <h3>{{dataUser.ncargo}}</h3>
    </ion-label>
  </ion-item>
  <ion-item hidden>
    <ion-label>Contraseña:
      <h3 >{{dataUser.password}}</h3>
    </ion-label>
  </ion-item>
  <ion-item-group class="firmaGroup">
    <ion-item>
      <ion-label align="center">Firma:</ion-label>
    </ion-item>
    <ion-item class="firma">
      <img class="firmaImg" [src]='dataUser.firma' alt="firma">
    </ion-item>
  </ion-item-group>
</ion-content>
