.listForm {
    padding: 20px;
}
.inputCenter{
    top: 8px;
}
ion-label {
    color: var(--ion-color-cea) !important; //!important para forzar
}
.grid{
    background-color: rgba(161, 161, 161, 0.209);
    ion-row{
        ion-col{
            color: black;
            border: solid 1px #fff;
        }
        .colHead{
            background-color: var(--ion-color-cea);
            color: white;
        }

    }
}
