<ion-header>
  <ion-toolbar class="color-cea-fondo">
    <ion-title>Historia Clinica</ion-title>
    <ion-buttons mode="md" class="ion-no-text" slot="start">
      <ion-back-button text="" defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="listForm">
    <ion-item fill="outline">
      <ion-label><b>Fecha:</b></ion-label>
      <ion-input class="datetime" slot="end" type="date"></ion-input>
    </ion-item>
    <ion-item fill="outline">
      <ion-label><b>Hora:</b></ion-label>
      <ion-input class="datetime"  slot="end" type="time"></ion-input>
    </ion-item>
      <br>
      <ion-label color="cea"><h3>Centro de Atención y Derivación</h3></ion-label>
      <ion-label color="cea"><h4>SDMA-DIRENA</h4></ion-label>
      <ion-note color="cea">Prog. Conservación de la Biodiversidad del Dpto. SC</ion-note>
      <br>
    <br>
    <ion-item class="itemForm" fill="outline">
      <ion-label class="itemLabel" position="floating">Tipo de especies*</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let tipo of especies" value="{{tipo.id_especies}}">{{tipo.nom_especies}}</ion-select-option>
      </ion-select>
      <ion-note slot="helper">Seleccione el tipo de especie</ion-note>
      <ion-note slot="error">tipo de especie no seleccionada</ion-note>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Nombre común*</b></ion-label>
      <ion-input class="inputCenter" type="text" placeholder="Ingresa el nombre común" ></ion-input>
    </ion-item>
    <br>
    <ion-item class="itemForm" fill="outline">
      <ion-label class="itemLabel" position="floating">Sexo*</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let tipo of sexos" value="{{tipo.id_sexo}}">{{tipo.nom_sexo}}</ion-select-option>
      </ion-select>
      <ion-note slot="helper">Seleccione el tipo de especie</ion-note>
      <ion-note slot="error">tipo de especie no seleccionada</ion-note>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Anamnesis*</b></ion-label>
      <ion-input class="inputCenter" type="text" placeholder="Ingresa el dato de la anamnesis" ></ion-input>
    </ion-item>
    <br>
    <ion-item class="itemForm" fill="outline">
      <ion-label class="itemLabel" position="floating">Mucosa*</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let tipo of mucosas" value="{{tipo.id_mucosa}}">{{tipo.nom_mucosa}}</ion-select-option>
      </ion-select>
      <ion-note slot="helper">Seleccione el tipo de mucosa</ion-note>
      <ion-note slot="error">tipo de mucosa no seleccionada</ion-note>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating">Observaciones</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <br>
    <ion-item class="itemForm" fill="outline">
      <ion-label class="itemLabel" position="floating">Rev Externa*</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let tipo of revext" value="{{tipo.id_revext}}">{{tipo.nom_revext}}</ion-select-option>
      </ion-select>
      <ion-note slot="helper">Seleccione el tipo de mucosa</ion-note>
      <ion-note slot="error">tipo de mucosa no seleccionada</ion-note>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Sistema Nervioso*</b></ion-label>
      <ion-input class="inputCenter" type="text" placeholder="Ingresa datos del sistema nervioso" ></ion-input>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Sistema Respiratorio*</b></ion-label>
      <ion-input class="inputCenter" type="text" placeholder="Ingresa datos del sistema respiratorio" ></ion-input>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Temperatura*</b></ion-label>
      <ion-input class="inputCenter" type="number" placeholder="Ingresa la temperatura del animal silvestre" ></ion-input>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Frecuencia Cardiaca*</b></ion-label>
      <ion-input class="inputCenter" type="number" placeholder="Ingresa datos de la frecuencia cardiaca" ></ion-input>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Peso*</b></ion-label>
      <ion-input class="inputCenter" type="text" placeholder="Ingresa datos del peso en KG" ></ion-input>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating">Pruebas Complementarias*</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Diagnostico presuntivo*</b></ion-label>
      <ion-input class="inputCenter" type="text" placeholder="Ingresa datos del diagnostico presuntivo" ></ion-input>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Diagnostico confirmado*</b></ion-label>
      <ion-input class="inputCenter" type="text" placeholder="Ingresa datos del diagnostico confirmado" ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label><b>Nombre: </b>{{dataUser.nombre_u}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-text><b>Firma:</b></ion-text>
      <img class="firmaImg" [src]='dataUser.firma_u' alt="firma">
    </ion-item>
    <br>
    <ion-grid class="grid">
      <ion-row>
        <ion-col class="colHead">% Deshidratación</ion-col>
        <ion-col class="colHead">Signos Clínicos</ion-col>
      </ion-row>
      <ion-row>
        <ion-col><5%</ion-col>
        <ion-col>No se puede detectar</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>5-6%</ion-col>
        <ion-col>Ligera perdida de elasticidad en la piel</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>6-10%</ion-col>
        <ion-col>La piel tarda en recuperar su posición normal. Prolongación del tiempo de llenado capilar. Las mucosas empiezan a estar secas.
          Ligero Enolftalmos
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>10-12%</ion-col>
        <ion-col>La piel no recupera su posición normal. TLLC Prolongado. Mucosas secas. Hundimiento de ojos. Pueden haber indicios de shock.</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>12-15%</ion-col>
        <ion-col>El animal puede estar en shock hipovolémico</ion-col>
      </ion-row>
    </ion-grid>
    <h2><ion-label color="cea">Hidratación</ion-label></h2>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Reposición*</b></ion-label>
      <ion-input class="inputCenter" type="text" placeholder="Ingresa el datos de la reposición" ></ion-input>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Mantenimiento*</b></ion-label>
      <ion-input class="inputCenter" type="text" placeholder="Ingresa el dato del mantenimiento" ></ion-input>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Perdidas*</b></ion-label>
      <ion-input class="inputCenter" type="text" placeholder="Ingresa el dato de las perdidas" ></ion-input>
    </ion-item>
    <br>
    <!-- <ion-grid class="grid">
      <ion-row>
        <ion-col class="colHead">TRATAMIENTO
          <ion-button (click)="" expand="block" fill="clear" shape="round">
            Agregar
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="colHead">Diagnostico</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="colHead">Farmaco</ion-col>
        <ion-col class="colHead">Acción</ion-col>
        <ion-col class="colHead">Dosis</ion-col>
        <ion-col class="colHead">Vía</ion-col>
        <ion-col class="colHead">Hora</ion-col>
      </ion-row>
    </ion-grid> -->
    <h2><ion-label>TRATAMIENTO</ion-label></h2>
    <h3><ion-label>Diagnostico</ion-label></h3>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Farmaco</b></ion-label>
      <ion-input class="inputCenter" type="text" placeholder="Ingresa el dato del farmaco" ></ion-input>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Acción*</b></ion-label>
      <ion-input class="inputCenter" type="text" placeholder="Ingresa el dato de la acción" ></ion-input>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Dosis*</b></ion-label>
      <ion-input class="inputCenter" type="text" placeholder="Ingresa el dato de la dosis" ></ion-input>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Vía*</b></ion-label>
      <ion-input class="inputCenter" type="text" placeholder="Ingresa el dato de la vía" ></ion-input>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label color="cea" position="floating"><b>Hora*</b></ion-label>
      <ion-input class="inputCenter" type="text" placeholder="Ingresa el dato de la hora" ></ion-input>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label><b>Hora:</b></ion-label>
      <ion-input class="datetime"  slot="end" type="time"></ion-input>
    </ion-item>
  </ion-list> 
</ion-content>
