<ion-header>
  <ion-toolbar color="cea">
    <ion-buttons class="ion-no-text" mode="ios" slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Consultas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title color="cea"><b>Actas de Recepciones</b></ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let total of consentrega">
      Entregas: {{total.totalar}}
    </ion-card-content>
  </ion-card>
</ion-content>
