.logo-GAD{
    text-align: right;
    img{
        width: 40%;
    }
}

.titulo{
    text-align: center;
    h3{
        font-size: medium;
    }
    h5{
        font-size: small;
    }
}

.comunicado{
    text-align: justify;
    padding-right: 15px;
    p{
        font-size: small;
    }
}

.lugar-entrega{
    h3{
        font-size: medium;
        font-weight: bold;
    }
    h4{
        font-size: small;
    }

    h2{
        font-weight: bold;
        font-size: medium;
    }
}