<ion-header>
  <ion-toolbar color="cea">
    <ion-buttons class="ion-no-text" mode="ios" slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title> Acta de Recepción</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        refreshingSpinner="crescent">
      </ion-refresher-content>
    </ion-refresher>
    <br>
    <ion-button expand="block" color="cea" [routerLink]="['/garecepcion/crearar']">Crear Acta de Recepción</ion-button>
    <br>
    <!-- <ion-button expand="block" color="cea" (click)="ModalVerActa()">Consulta de acta</ion-button>
    <br> -->
    <ion-searchbar animated="true" placeholder="Número de acta" (ionChange)="buscar($event)"></ion-searchbar>
    <ion-list >
      <ion-item *ngFor="let acta of arecepcion | filtro: textoBuscar: 'num_acta_ar'"  >
        <ion-item-sliding>
          <ion-item>
            <ion-label>
              <h2>{{acta.num_acta_ar}} - <ion-text color="cea">{{acta.nom_tipo_atencion}}</ion-text> </h2> 
              <p>{{acta.fecha_ar}} / {{acta.hora_ar}}</p>
              </ion-label>
              <ion-icon button class="icon" size="large" (click)="verActa(acta)" color="cea" name="reader-outline"></ion-icon>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="success" (click)="updateAr(acta)">
                <ion-icon slot="start" name="pencil-sharp"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="removeAr(acta.id_acta_recepcion, acta.num_acta_ar)">
                <ion-icon slot="start" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
      </ion-item>
      <br>
    </ion-list>
  </ion-content>
  