<ion-header>
  <ion-toolbar color="cea">
    <ion-buttons class="ion-no-text" mode="ios" slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title> Acta de Recepción</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
    <br>
    <ion-button expand="block" color="cea" [routerLink]="['/garecepcion/crearar']">Crear Acta de Recepción</ion-button>
    <br>
    <ion-button expand="block" color="cea" (click)="ModalVerActa()">Consulta de acta</ion-button>
        <ion-item *ngFor="let acta of arecepcion" >
          <ion-label>
            <h2>{{acta.num_acta_ar}}</h2>
            <p>{{acta.fecha_ar}}</p>
          </ion-label>
          <ion-text>#{{acta.hora_ar}}</ion-text>
        </ion-item>
  </ion-content>
  