ion-button{
    background-color: var(--ion-color-cea);
}
ion-label{
    color: var(--ion-color-cea) !important; //!important para forzar
}
ion-item{
    --highlight-color-focused: var(--ion-color-cea);
}
.boxregister{
    margin: 5%;
}
.btnregister{
    margin: 0 2%;
}
:host{
    --color-activated: var(--ion-color-cea) !important;
    --color-hover: var(--ion-color-cea) !important;
}