canvas {
    margin:0px auto;
    border: 2px solid rgb(187, 178, 178);
    background-color: #90B29B;
  }
img{
    margin:0px auto;
    border: 2px solid rgb(187, 178, 178);
}
.passwordIcon{
  font-size:1,5rem !important;
  position: relative !important;
  margin: 0 auto !important;
}

.listForm{
  padding: 20px 20px 0px 20px;
}
ion-input{
  top: 10px;
}