ion-fab-button{
  outline: 0px; //quitar lineas que se generan al activar y desactivar dark mode
  justify-content: flex-start;
  --background:rgba(255, 255, 255, 0); //transparencia para quitar fondo color default ionic
}
.avatarProfile{
  height: 80px;
  width: 80px;
}
.input-wrapper{
  display: flex !important;
  flex: 1 1 0% !important;
  flex-direction: inherit !important;
  align-items: inherit !important;
  align-self: stretch !important;
  text-overflow: ellipsis !important;
  overflow: inherit !important;
  box-sizing: border-box !important;
  justify-content: space-between !important;
}
.ion-no-padding{
  --padding-start:7px;
  --inner-padding-end: 7px
}
//BACKGROUND DEL TOGGLE
.icon-custom {
  --background: #fff
    url(../../../assets/iconhome/day.png)
    no-repeat center / cover;
  --background-checked: #fff
    url(../../../assets/iconhome/night.png)
    no-repeat center / cover;
}
//ICONS DEL TOGGLE
.icon-custom {
  --handle-background: #fff
    url(../../../assets/iconhome/sun.png)
    no-repeat center / contain;
  --handle-background-checked: #fff
    url(../../../assets/iconhome/moon.png) 
    no-repeat center / cover;
}

.icon-custom::before {
  position: absolute;
  color: white;
  top: 10px;
  left: 5px;
  z-index: 1;
  font-size: 10px;
}

.icon-custom::after {
  position: absolute;
  color: white;
  top: 10px;
  right: 5px;
  z-index: 1;
  font-size: 9px;
}
.icon-custom {
  overflow: visible;
  contain: content;
  margin: 0% 28% 0% 27%;
}
.header-label{
  margin: 0px;
}
// .item-gusers{
//   --background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url(https://cdn.wallpapersafari.com/73/84/zeQX71.jpg) no-repeat center / cover;
// }
// .item-detail-icon{
//   --detail-icon-opacity: 1 !important;
// }
.text{
  margin: 5% 0% 5% 7%;
}
ion-avatar{
  width: 45px !important;
  height: 45px !important;
}

ion-menu::part(backdrop) {
  background-color:  rgba(0, 94, 16, 0.5);
}

ion-menu::part(container) {

  box-shadow: 4px 0px 16px rgba(0, 94, 16, 0.315);
}
.noteCargo{
  font-size: 0.9em;
}
.toolbarMenu{
  margin-top: 20px;
}
.itemAvatarProfile{
  height: 54px;
}
.itemNombre{
  height: 37px;
}
.iconMenu{
  margin-right: 14px;
}
ion-card{
  height: 21vh;
  width: 16vh;
  box-shadow: rgba(1, 39, 0, 0.49) 0px 3px 1px -2px, rgba(0, 0, 0, 0.4) 0px 2px 2px 0px, rgba(0, 0, 0, 0.531) 0px 1px 5px 0px;
}
ion-avatar{
  display: flex;
  justify-content: center;
}
ion-card-title{
  font-size: 1.3em;
}
.titleAr{
  font-size: 1.1em;
}
ion-grid{
  padding-left: 20px;
}