<ion-header>
  <ion-toolbar color="cea">
      <ion-fab-button slot="start" mode="md" size="small" [routerLink]="['/profile']">
        <ion-avatar>
          <ion-img [src]="dataUser.foto_u"></ion-img>
          <!-- <img src="../../../assets/iconhome/iconuser.png" /> -->
        </ion-avatar>
      </ion-fab-button>
      <ion-fab-button slot="end" size="small" (click)="cerrarSession()">
        <ion-avatar>
          <img src="../../../assets/iconhome/iconlogout.png" />
        </ion-avatar>
      </ion-fab-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <ion-item mode="ios" class="item-gusers" [routerLink]="['/gusers']">
      <ion-avatar>
        <img src="../../../assets/iconhome/icongusers.png" />
      </ion-avatar>
      <ion-label class="text">Usuarios</ion-label>
      <ion-thumbnail>
        <ion-icon
          class="ion-no-opacity"
          slot="start"
          name="caret-forward-outline"
        ></ion-icon>
      </ion-thumbnail>
    </ion-item>
    <br />
    <ion-item mode="ios" class="item-gusers" [routerLink]="['/garecepcion']">
      <ion-avatar>
        <img src="../../../assets/iconhome/icongar.png" />
      </ion-avatar>
      <ion-label class="text">Actas de Recepciones</ion-label>
      <ion-thumbnail>
        <ion-icon
          class="ion-no-opacity"
          slot="start"
          name="caret-forward-outline"
        ></ion-icon>
      </ion-thumbnail>
    </ion-item>
    <br />
    <ion-item mode="ios" class="item-gusers" [routerLink]="['/ghclinica']">
      <ion-avatar>
        <img src="../../../assets/iconhome/iconghc.png" />
      </ion-avatar>
      <ion-label class="text">Historias Clinicas</ion-label>
      <ion-thumbnail>
        <ion-icon
          class="ion-no-opacity"
          slot="start"
          name="caret-forward-outline"
        ></ion-icon>
      </ion-thumbnail>
    </ion-item>
    <br />
    <!-- <ion-item mode="ios" class="item-gusers" [routerLink]="['/gftranslocacion']">
      <ion-avatar>
        <img src="../../../assets/iconhome/icongftranslocacion.png" />
      </ion-avatar>
      <ion-label class="text">Fichas de Translocaciones</ion-label>
      <ion-thumbnail>
        <ion-icon
          class="ion-no-opacity"
          slot="start"
          name="caret-forward-outline"
        ></ion-icon>
      </ion-thumbnail>
    </ion-item>
    <br />
    <ion-item mode="ios" class="item-gusers" [routerLink]="['/gaderivacion']">
      <ion-avatar>
        <img src="../../../assets/iconhome/icongaderivacion.png" />
      </ion-avatar>
      <ion-label class="text">Actas de Derivaciones</ion-label>
      <ion-thumbnail>
        <ion-icon
          class="ion-no-opacity"
          slot="start"
          name="caret-forward-outline"
        ></ion-icon>
      </ion-thumbnail>
    </ion-item>
    <br />
    <ion-item mode="ios" class="item-gusers" [routerLink]="['/gfdeceso']">
      <ion-avatar>
        <img src="../../../assets/iconhome/icongfdeceso.png" />
      </ion-avatar>
      <ion-label class="text">Fichas de Decesos</ion-label>
      <ion-thumbnail>
        <ion-icon
          class="ion-no-opacity"
          slot="start"
          name="caret-forward-outline"
        ></ion-icon>
      </ion-thumbnail>
    </ion-item>
    <br /> -->
  </ion-list>
</ion-content>
