<ion-header>
  <ion-toolbar color="cea">
    <ion-buttons class="ion-no-text" mode="ios" slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Animales Silvestres</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openEliminate()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <br>

  <ion-searchbar animated="true" placeholder="Nombre común del animal" (ionChange)="buscar($event)"></ion-searchbar>
  <ion-item class="ion-text-center">
    <ion-label  color="cea"><b>-Lista de animales sin Acta de Recepción-</b></ion-label>
  </ion-item>
  <ion-list >
    <ion-item *ngFor="let animalc of animalsilvestresin | filtro: textoBuscar: 'nom_comun'"  >
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <h2>{{animalc.nom_comun}}</h2>
            <p>{{animalc.nom_cientifico}}</p>
          </ion-label>
          <ion-text>#{{animalc.id_animal_silvestre}}</ion-text>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success" (click)="updateAnimal(animalc)">
            <ion-icon slot="start" name="pencil-sharp"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="removeAnimal(animalc.id_animal_silvestre, animalc.nom_comun)">
            <ion-icon slot="start" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item>
  </ion-list>
  <br>
  <ion-item class="ion-text-center">
    <ion-label  color="cea"><b>-Lista de animales con Acta de Recepción-</b></ion-label>
  </ion-item>
  <ion-list >
    <ion-item *ngFor="let animals of animalsilvestrecon | filtro: textoBuscar: 'nom_comun'"  >
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <h2>{{animals.nom_comun}}</h2>
            <p>{{animals.nom_cientifico}}</p>
          </ion-label>
          <ion-text>#{{animals.id_animal_silvestre}}</ion-text>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success" (click)="updateAnimal(animals)">
            <ion-icon slot="start" name="pencil-sharp"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item>
  </ion-list>
  <br>
  <br>
  <br>
  <ion-fab class="fab" (click)="openModal()" vertical="bottom"  horizontal="end" slot="fixed">
    <ion-fab-button color="cea"  >
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
