ion-button{
    background-color: var(--ion-color-cea);
}
ion-label{
    color: var(--ion-color-cea) !important; //!important para forzar
}
ion-item{
    --highlight-color-focused: var(--ion-color-cea);
}
// Height = altura/vertical
// Width = anchura/horizontal
.boxlogin{
    margin: 5%;
}
.btnlogin{
    margin: 0 2%;
}
.logoscz{ 
    display: flex;
    justify-content: center;
    margin:70% 0% 0% 0%;
}
.logoscz ion-img{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    bottom: 0;
    width:180px;
    margin-bottom: 50px;
}
.logocea {
    display: flex;
    justify-content: center;
}   
.passwordIcon{
    font-size:1,5rem !important;
    position: relative !important;
    margin: 0 auto !important;
  }
  
  .listForm{
    padding: 20px 20px 0px 20px;
  }
  ion-input{
    top: 10px;
  }