<ion-header>
</ion-header>

<ion-content overflow-scroll="false">
  <div class="logocea">
    <img src="../../assets/logotypes/logocea.png" alt="Ionic logo">
  </div>

  <form  [formGroup]="formLogin" #loginForm="ngForm" novalidate class="boxlogin">
      <ion-item class="itemForm" fill="outline">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type = "email"  formControlName="email_u" name="email"></ion-input>
      </ion-item>
      <div *ngFor="let error of errormensaje.email_u" class="ion-text-center ion-margin-bottom">
        <ng-container *ngIf="email_u.hasError(error.type) && 
        (email_u.dirty || email_u.touched)">
        <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>
      <br>
      <ion-item class="itemForm" fill="outline">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password_u" name="password"></ion-input>
        <ion-icon slot="end" class="passwordIcon" item-end [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
      </ion-item>
      <div *ngFor="let error of errormensaje.password_u" class="ion-text-center ion-margin-bottom">
        <ng-container *ngIf="password_u.hasError(error.type) && 
        (password_u.dirty || password_u.touched)">
        <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>

    <ion-row>
      <ion-col class="btnlogin">
        <ion-button (click)="login(formLogin.value)" expand="block" color="ion-color-cea">
          Iniciar sesión
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <div class="logoscz">
    <ion-img src="../../assets/logotypes/logoscz.png" ></ion-img>
  </div>
</ion-content>
