.itemDivider{
    background-color: rgba(0, 101, 12, 0.185);
}
.textDivider{
    color: black;
    font-size: 1.2em;
    height: auto;
}
.listForm{
    padding: 20px;
}
ion-input{
    top: 8px;
}
ion-popover{
    --width: 320px;
}
ion-popover#popover-bottom::part(content){
    left: 5% !important;
    top: 15% !important;
}