<ion-header>
  <ion-toolbar>
    <ion-title color="cea">Crear Acta de Recepción</ion-title>
    <ion-buttons class="ion-no-text" mode="ios" slot="start">
      <ion-back-button
        text=""
        color="cea"
        defaultHref="login"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Numero de Acta:</ion-label>
      <br>
      <ion-input slot="end" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha y hora</ion-label>
      <ion-datetime-button slot="end" datetime="datetime"></ion-datetime-button>
    </ion-item>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime" [showDefaultButtons]="true"></ion-datetime>
      </ng-template>
    </ion-modal>
    <ion-item>
      <ion-label>Tipo de atención:</ion-label>
      <br>
      <ion-select>
          <ion-select-option *ngFor="let tipo of tatencion">{{tipo.ntatencion}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-note>La Autoridad Ambiental Competente Departamental, a través de la Dirección de Recursos
        Naturales, comunica a usted que dando cumplimiento al Marco Legal vigente: Constitución política del Estado,
        Código Penal, Ley 1333, Ley 700 y Ley 12301, D.S 25458, Decreto Supremo N° 4489, y la resolución Administrativa
        SDS Y MA /001/2012 Y Decreto Departamental N° 140/2011, realiza la atención en la dirección:
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-note color="dark">Lugar donde fue la entrega, rescate o decomiso del animal:</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Municipio:</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let municipio of municipios">
          {{municipio.nmunicipio}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Barrio:</ion-label>
      <ion-input slot="end" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Calle/Avenida</ion-label>
      <ion-input slot="end" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>N°casa</ion-label>
      <ion-input slot="end" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-note color="black">Lugar de donde procede el animal(donde encontro al animal la persona que hace la denuncia o llamada):</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Municipio:</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let municipio of municipios" >
          {{municipio.nmunicipio}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Barrio:</ion-label>
      <ion-input slot="end" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Calle/Avenida:</ion-label>
      <ion-input slot="end" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Empresa y/o Institución:</ion-label>
      <ion-input slot="end" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>ÁreaVerde, Área protegida, otro:</ion-label>
      <ion-input slot="end" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Especies procedentes de la atención:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>N°</ion-label>
      <ion-label>1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nombre Científico</ion-label>
      <ion-input slot="end" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nombre Común</ion-label>
      <ion-input slot="end" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Edad:</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let edad of edades" >
          {{edad.nedad}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Sexo:</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let sexo of sexos" >
          {{sexo.nsexo}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Observaciones</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-note color="black">Las especies serán derivados a la SDS Y MA de la Gobernación
        de Santa Cruz, instalaciones del CAD
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Funcionario Recepcionante:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>firma</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>CI</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Persona(Entidad) que efectúa la entrega</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>firma</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Telf</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>CI</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
