<ion-header>
  <ion-toolbar color="cea" class="ion-text-center">
    <ion-buttons class="ion-no-text" mode="ios" slot="start">
      <ion-back-button
        text=""
        defaultHref="login"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Usuarios Deshabilitados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start">
        <div class="avatar">{{user.name.substring(0,1).toUpperCase()}}</div>
      </ion-avatar>
      <ion-label>
        <h3 class="title">{{user.name}}</h3>
        <p class="subtext">
          {{ 'Cargo: ' + user.ncargo + ' | ' + user.email}}
        </p>
      </ion-label>
      <ion-button class="btn-enable" (click)="enableUser(user.id_user,user.name)" color="warning">
        <ion-icon class="icon" size="large"  name="refresh-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
