<ion-header>
  <ion-toolbar color="cea">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear Animales Silvestres</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updateAnimal()"  slot="end" fill="clear" shape="round">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="listForm">
    <ion-item class="itemForm" fill="outline">
      <ion-label color="cea" position="floating">Especie*</ion-label>
      <ion-select  [(ngModel)]="animalsilvestre.id_especies">
        <ion-select-option *ngFor="let especie of especies" value="{{ especie.id_especies }}">{{especie.nom_especies}}</ion-select-option>
      </ion-select>
      <ion-note slot="helper">Seleccione la especie</ion-note>
      <ion-note slot="error">Especie no seleccionada</ion-note>
    </ion-item>
    <br>
    <ion-item class="itemForm" fill="outline">
      <ion-label position="floating" color="cea">Nombre Científico*</ion-label>
      <ion-input type="text" placeholder="Ingrese su Nombre/s y Apellidos" [(ngModel)]="animalsilvestre.nom_cientifico" ></ion-input>
      <ion-note slot="helper">Ingrese el Nombre Científico*</ion-note>
      <ion-note slot="error">Nombre cientifico invalido</ion-note>
    </ion-item>
    <br>
    <ion-item class="itemForm" fill="outline">
      <ion-label position="floating" color="cea">Nombre Común*</ion-label>
      <ion-input type="text" placeholder="Ingrese el nombre común" [(ngModel)]="animalsilvestre.nom_comun" ></ion-input>
      <ion-note slot="helper">Ingrese el Nombre Común*</ion-note>
      <ion-note slot="error">Nombre común invalido</ion-note>
    </ion-item>
    <br>
    <ion-item class="itemForm" fill="outline">
      <ion-label color="cea" position="floating">Edad*</ion-label>
      <ion-select [(ngModel)]="animalsilvestre.id_edad">
        <ion-select-option *ngFor="let edad of edades" value="{{ edad.id_edad }}">{{edad.nom_edad}}</ion-select-option>
      </ion-select>
      <ion-note slot="helper">Seleccione la edad</ion-note>
      <ion-note slot="error">Especie no seleccionada</ion-note>
    </ion-item>
    <br>
    <ion-item class="itemForm" fill="outline">
      <ion-label color="cea" position="floating">Sexo*</ion-label>
      <ion-select [(ngModel)]="animalsilvestre.id_sexo">
        <ion-select-option *ngFor="let sexo of sexos" value="{{ sexo.id_sexo }}">{{sexo.nom_sexo}}</ion-select-option>
      </ion-select>
      <ion-note slot="helper">Seleccione el sexo</ion-note>
      <ion-note slot="error">Especie no seleccionada</ion-note>
    </ion-item>
  </ion-list>
</ion-content>

