<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons class="ion-no-text" mode="ios" slot="start">
      <ion-back-button
        text=""
        color="cea"
        defaultHref="login"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="cea"> Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <br />
  <ion-button expand="block" 
  class="color-cea-fondo" (click)="addUser()">Crear Usuario</ion-button>
  <ion-button expand="block" 
  class="color-cea-fondo" [routerLink]="['listdisuser']" >Cuentas Deshabilitadas</ion-button>
  <br />
    <ion-item class="ion-text-center">
      <ion-label>
        <ion-text class="color-cea-texto">
          <h2>Lista de Usuarios</h2>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-list>
      <ion-item-sliding *ngFor="let user of users">
        <ion-item>
          <ion-avatar slot="start">
            <div class="avatar">{{user.name.substring(0,1).toUpperCase()}}</div>
          </ion-avatar>
          <ion-label>
            <h3 class="title">{{user.name}}</h3>
            <p class="subtext">
              {{ 'Cargo: ' + user.ncargo + ' | ' + user.email}}
            </p>
          </ion-label>
        </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="updateUser(user)">
          <ion-icon name="pencil-sharp"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="removeUser(user.id_user, user.name)">
          <ion-icon name="trash-sharp"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
