<ion-header>
  <ion-toolbar color="cea">
    <ion-buttons class="ion-no-text" slot="start">
      <ion-back-button text="" defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title> Usuarios</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['listdisuser']">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <br />
  <ion-button expand="block" 
  color="cea" [routerLink]="['crearuser']">Crear Usuario</ion-button>

  <ion-searchbar animated="true" placeholder="Nombre del usuario" (ionChange)="buscar($event)"></ion-searchbar>
  <br />
    <ion-item class="ion-text-center">
      <ion-label>
        <ion-text class="color-cea-texto">
          <h2>Lista de Usuarios</h2>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-list *ngFor="let user of users | filtro: textoBuscar: 'nombre_u'">
      <ion-item-sliding >
        <ion-item>
          <ion-avatar slot="start">
            <div class="avatar">{{user.nombre_u.substring(0,1).toUpperCase()}}</div>
          </ion-avatar>
          <ion-label>
            <h3 class="title">{{user.nombre_u}}</h3>
            <p class="subtext">
              {{ 'Cargo: ' + user.nom_cargo + ' | ' + user.email_u}}
            </p>
          </ion-label>
        </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="updateUser(user)">
          <ion-icon name="pencil-sharp"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="removeUser(user.id_usuario, user.nombre_u)">
          <ion-icon name="trash-sharp"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
