<ion-header>
  <ion-toolbar color="cea">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        Cancelar
      </ion-button>
    </ion-buttons>
    <ion-title>Editar perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="UpdateUser()">
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-item lines="none">
    <div class="container">
      <div class="outer" [ngStyle]="{'background-image': 'url(' + dataUser.foto_u + ')'}">
        <div class="inner" (click)="selectImageOptions()">
          <ion-icon name="camera" class="camera-icon"></ion-icon>
      </div>
      </div>
    </div>
  </ion-item>
  <br>
  <ion-list class="boxregister">
    <ion-item>
      <ion-label position="floating">Nombre completo*</ion-label>
      <ion-input type="text" [(ngModel)]="dataUser.nombre_u" ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Correo electrónico*</ion-label>
      <ion-input type="email" [(ngModel)]="dataUser.email_u" name="email"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Cédula de Identidad*</ion-label>
      <ion-input type="number" [(ngModel)]="dataUser.ci_u"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña*</ion-label>
      <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="dataUser.password_u" name="password" ></ion-input>
      <ion-icon slot="end" class="passwordIcon" item-end [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item>
    <br>
    </ion-list>
</ion-content>
