.container {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
  }
.camera-icon {
    height: 30px;
    width: 30px;
    color: white;
  }
  .inner {
    background-color: var(--ion-color-cea);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .outer {
    width: 100% !important;
    height: 100% !important;
    max-width: 150px !important; /* any size */
    max-height: 150px !important; /* any size */
    margin: auto;
    border-radius: 100%;
    position: relative;
    background-size: 150px 150px;
  }
  .passwordIcon{
    font-size:1,5rem !important;
    position: relative !important;
    top: 35px !important;
    margin: 0 auto !important;
  }